[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coveralls = "*"
twine = "*"

[packages]
beautifulsoup4 = "*"
lxml = ">=4.6.5"
numpy = "*"
pandas = "*"
xlrd = "*"
requests = "*"
tddata = {editable = true,path = "."}

[requires]
python_version = "3.9"
